
*, div, img{
    /* cursor: url(../imagens/mata_mosca.png), auto; */
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../imagens/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

img#mosca{
    position: absolute;
    z-index: 100;
}

div#painel{
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 15px 50px 15px 15px;
    background-color: whitesmoke;
    font-size: 20px;
    z-index: 10;
}

div#painel img{
    width: 30px;
}

#timer{
    width: 200px;
}

.name0{
    width: 50px;
}

.name1{
    width: 80px;
    transform: scaleX(-1);
}

.name2{
    width: 120px;
}

.name3{
    width: 180px;
    transform: scaleX(-1);
}